@import "node_modules/bulma/bulma";
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic|Lato:700,400);

html {
    font-size: 62.5%;
}

body {
	font-family: 'Lora', Georgia, serif;
	font-size: 1.6rem;
}

h1, h2, h3 {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 4.2rem;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

p {font-size: 1.75rem}

nav {
	height: 4rem;
	line-height: 4rem;
	overflow: hidden;
	padding: 0 1rem;
}

.nav-links {
	float: right;
}

.nav-link {
	margin-left: 0.75rem;
}

.hero {
	background: url('/../images/hero-img.png');
	height: 30rem;
	padding: 3rem;
	h1 {
		font-family: 'Lora', serif;
		font-style: italic;
		color: #e9eae6;
		font-size: 6rem;
	}
}

.list-section {
	padding-top: 3rem;
}

.stories {
	margin-top: 1rem;
}

.read-story {
	font-size: 1.8rem;
	line-height: 3rem;
	width: 90%;
	margin: 0 auto;
	h1 {
		font-size: 4.6rem;
		margin-top: 4rem;
		margin-bottom: 3rem;
	}
	p {
		margin-bottom: 1em;
	}
}

.login-box {
	width: 66%;
	margin: 5rem auto;
}

footer {
	border-top: 1px solid $grey-light;
	margin-top: 6rem;
	padding: 0.5rem 1rem;
}

.story-box {
	overflow: hidden;
	img {
		float: left;
		width: 15rem;
		height: 15rem;
		margin: 0 2rem 0 0;
		padding: 0;
	}
	h2 {
		font-size: 2.33rem;
		line-height: 2.66rem;
		padding: 0;
		margin: -4px 0 9px 0;
	}
	p {
		font-size: 1.66rem;
	}
	a {
		font-family: 'Lato', Helvetica, Arial, sans-serif; 
		padding-top: 9px;
		float: right;
	}
}

.cover-image {
	float: left;
	width: 15rem;
	height: 15rem;

}

.story-details {
	float: right;
	margin-left: 2rem;
}

.compose, .dashboard, .list-section{ 
	margin: 0 5rem;
}

.story-form {
	margin-top: 2rem;
}

.label {
	color: $grey-dark;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 2rem;
}

@media all and (min-width: 600px) {
	.read-story {
		font-size: 2.2rem;
		line-height: 3.2rem;
		width: 60rem;
		margin: 0 auto;
		h1 {
			font-size: 4.6rem;
			margin-top: 4rem;
			margin-bottom: 3rem;
		}
		p {
			margin-bottom: 1em;
		}
	}
}
