@import "node_modules/bulma/bulma";
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic|Lato:700,400);

html {
    font-size: 62.5%
}

body {
	font-family: 'Lora', serif;
	font-size: 1.6rem;
}

h1, h2, h3 {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 4.2rem;
	margin-top: 2em;
	margin-bottom: 1em;
}

nav {
	height: 4rem;
	line-height: 4rem;
	overflow: hidden;
	padding: 0 1rem;
}

.nav-links {
	float: right;
}

.nav-link {
	margin-left: 0.75rem;
}

.hero {
	background: url('/../images/hero-img.png');
	height: 30rem;
	padding: 0 2rem;
	h1 {
		font-family: 'Lora', serif;
		font-style: italic;
		color: #e9eae6;
		font-size: 3rem;
	}
}

.list-section {
	padding-top: 3rem;
}

.completed-stories {
	margin-top: 1rem;
}

.read-story {
	font-size: 2.2rem;
	line-height: 3.2rem;
	width: 60rem;
	margin: 0 auto;

	p {
		margin-bottom: 1em;
	}
}

.login-box {
	width: 66%;
	margin: 5rem auto;
}

footer {
	border-top: 1px solid $grey-light;
	margin-top: 1.5rem;
	padding: 0.5rem 1rem;
}




