@import "node_modules/bulma/bulma";
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic|Libre+Baskerville:400,400italic|Source+Sans+Pro:600|Karla:700|Lato:700|Work+Sans:500|Poppins:500);

body {
	font-family: 'Lora', serif;
	font-size: 1.5em;
}

h1, h2, h3 {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 1.75em;
	margin-bottom: 0.5em;
}

footer {
	border-top: 1px solid $grey-light;
	margin-top: 1.5em;
	padding-top: 0.5em;
	font-size: 0.75em;
}

nav {
	height: 2.5em;
	font-size: 0.85em;
	line-height: 2.5em;
	overflow: hidden;
	padding: 0 1em;
}

.nav-links {
	float: right;
}

.nav-link {
	margin-left: 0.75em;
}

.hero {
	background: url('/../images/hero-img.png');
	height: 18em;
	line-height: 10em;
	padding: 0 2em;
	h1 {
		font-family: 'Lora', serif;
		font-style: italic;
		color: #e9eae6;
		font-size: 3em;
	}
}

.list-section {
	padding-top: 3em;
}

.completed-stories {
	margin-top: 1em;
}

.read-story {
	margin: 0 10em;
}